@use '../base/utils' as *;

.footer {
  &__row {
    padding-block: 60px;
  }

  &__logo {
    display: flex;
    img {
      object-fit: contain;
    }
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-item {
      &:first-child {
        font: {
          weight: 600;
        }
        margin-block-end: 6px;
      }
    }

    &-link {
      transition: opacity 0.15s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__support {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-title {
      @include max-lg-screen {
        padding-block-start: 16px;
      }

      font: {
        size: 24px;
        weight: 600;
      }
    }

    &-social {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}
