.profile {
  &__row {
    padding-block: 40px;
  }

  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    &-name {
      margin-block-end: 8px;
      text-align: center;
      font: {
        size: 32px;
        weight: 600;
      }
    }

    &-email {
      margin-block-end: 32px;
      text-align: center;
      font: {
        size: 18px;
      }
    }

    &-avatar {
      max-width: 400px;
    }
  }

  &__quiz {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-block-end: 24px;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      border: 1px solid var(--color-foreground);
      padding: 24px;
      border-radius: 16px;

      &-name {
        font: {
          size: 24px;
          weight: 500;
        }
      }
    }

    &-progress {
      width: 100%;
      height: 10px;
      overflow: hidden;

      margin-block-start: 5px;
      border-radius: 5px;

      background: var(--color-background);
      border: 1px solid var(--color-foreground);

      &-bar {
        height: 100%;
        background: var(--color-red);
      }
    }
  }

  &__logout {
    &-col {
      display: flex;
      justify-content: center;
    }
  }
}
