$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

:root {
  --font-family: 'Comfortaa', sans-serif;

  --color-background: #fdf5e6;
  --color-foreground: #3e2723;
  --color-red: #e30613;
  --color-gold: #ffd700;
  --color-green: #5ddb5d;
}
